* {
    box-sizing: border-box;
}

:root {
    --font-1: Pacifico;
    --font-2: 'Press Start 2P';
    --font-3: Ruslan Display;
    --font-4: Stalinist One;

    --font-color-main: white;
    --font-color-second: black;

    --rainbow-gradient: linear-gradient(180deg, #FF0000 0%, #CC6F00 18.58%, #ABA517 35.76%, #2D8B42 54.51%, #0066FF 73.78%, #2A0070 100%);
}

html, body, h1 {
    margin: 0;
    padding: 0;

    font-size: 18px;
    color: var(--font-color-main);
}

.body {
    width: 100%;
}

.body_dark {
    --font-color-main: black;
    --font-color-second: white;
}

.header {
    width: 100%;
    height: 250px;

    background-blend-mode: color-burn, normal;
    background-image: url("/assets/header-top.svg"), url("/assets/header-bottom.png");
}

.header__title {
    display: block;
}

.header__title span {
    position: absolute;

    display: inline-block;
    font-size: 2em;

    background: var(--rainbow-gradient);
    -webkit-background-clip: text;
    -webkit-text-stroke: 15px transparent;
}

.header__title span:nth-child(1) {
    font-family: var(--font-1);

    transform-origin: center;
    transform: rotate(-45deg) translate(-30%, 50%);
}

.header__title span:nth-child(2) {
    font-family: var(--font-2);

    transform-origin: center;
    transform: translate(140px, 100px) rotate(-65deg);
}

.header__title span:nth-child(3) {
    font-family: var(--font-3);

    transform-origin: center;
    transform: translate(200px, 100px);
}

.header__title span:nth-child(4) {
    font-family: var(--font-4);

    width: 230px;

    transform-origin: center;
    transform: translate(320px, 70px) rotate(45deg);
}